.content {
  max-width: $content-width;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;

  &__text {
    font-family: $font-family-serif;
    font-size: 18px;
    line-height: 30px;

    @media (min-width: $breakpoint-md) {
      font-size: 20px;
      line-height: 32px;
    }

    &--with-initial {
      &:first-of-type:first-letter {
        font-size: 48px;
        font-weight: bold;
        margin-top: 14px;
        margin-right: 6px;
        float: left;

        @media (min-width: $breakpoint-md) {
          font-size: 64px;
        }
      }
    }
  }

  &__media {
    width: 100%;
  }

  &__title,
  &__sub-sub-title,
  &__sub-title {
    font-family: $font-family-sans;
    font-weight: bold;
    margin: 40px 0 0 0;
  }

  &__sub-sub-title {
    font-size: 32px;
  }

  &__sub-title {
    font-size: 36px;
  }

  &__title {
    font-size: 46px;
  }

  &--wider {
    max-width: $content-width-wider;
  }

  &--widest {
    max-width: $content-width-widest;
  }
}
