<div class="social-row">
  <div class="social-row__item">
    <div class="fb-like" data-href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
  </div>
  <div class="social-row__item">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" data-via="aqumm" data-related="aqumm">Tweet</a>
  </div>
</div>
