---
layout: trip
title: "Beskidy Zachodnie w długi weekend"
subtitle: "4 dni na rowerze przez Pogórze Wiśnickie, Beskid Sądecki, Pieniny i Gorce"
description: "Opis 4-dniowej wycieczki rowerowej ze startem w Krakowie i metą w Wadowicach. Prowadzi przez Pogórze Wiśnickie, Beskid Sądecki, Pieniny i Gorce."
date: 2014-08-17 00:00:00
categories: trasy
cover: "/assets/posts/2014-08-17/cover.jpg"
thumbnail: "/assets/posts/2014-08-17/thumbnail.jpg"
drawer_toggle: true
excerpt: "Opis 4-dniowej wycieczki rowerowej ze startem w Krakowie i metą w Wadowicach. Prowadzi przez Pogórze Wiśnickie, Beskid Sądecki, Pieniny i Gorce."
permalink: "/trasy/2014/08/17/beskidy-zachodnie-w-dlugi-weekend/"
---

<article class="rt-trip">
  <div class="row">
    <div class="medium-10 medium-offset-1 columns">
      {% include social_buttons.html %}
      <h1 class="rt-trip-title">{{ page.title }}</h1>

      <div class="row">
        <dl class="rt-stats small-4 columns">
          <dt>Dystans</dt>
          <dl>312km <br> <small>(<a href="#mapa">Mapa + GPX</a>)</small></dl>
          <dt>% bezdroży</dt>
          <dl>20%</dl>
        </dl>
        <dl class="rt-stats small-4 columns">
          <dt>Suma przewyższeń</dt>
          <dl>4570m</dl>
          <dt>Najwyższy punkt</dt>
          <dl>1283m n.p.m. <br> <small>(<span title="Schronisko">{% include svg/mountain_hostel.svg %}</span> Turbacz)</small></dl>
        </dl>
        <dl class="rt-stats small-4 columns">
          <dt>Koszty wyprawy</dt>
          <dl><a href="#koszty">174,80zł</a></dl>
          <dt>Noclegi</dt>
          <dl>
            <span title="Namiot">{% include svg/tent.svg %}</span> 2&nbsp;&nbsp;&nbsp;
            <span title="Schronisko">{% include svg/mountain_hostel.svg %}</span> 1
          </dl>
        </dl>
      </div>
    </div>
  </div>

  <section id="dzien-1" class="rt-content">
    <div class="row">
      <div class="medium-10 medium-offset-1 columns">
        <time>2014-08-14</time>
        <h2>Dzień 1. <br>Kierunek góry</h2>
        <h3>Puszcza Niepołomicka i Pogórze Wiśnickie</h3>
        <p>Dla mnie wycieczka zaczyna się w Krakowie. Początkowo myślałem o starcie z Krynicy lub Nowego Sącza, ale rozkład PKP rozwiał moje wątpliwości. Wybieram <a href="http://pl.wikipedia.org/wiki/Karpacki_Szlak_Rowerowy">Główny Szlak Karpacki</a> (<a href="http://cycling.waymarkedtrails.org/pl/relation/2748517">mapa</a>) w zamian za dodatkowe godziny spędzone w pociągu.</p>
      </div>
    </div>
    <div class="rt-gallery rt-gallery-horizontal">
      <figure>
        <img src="{{ '/assets/posts/2014-08-17/P8141827.jpg' | prepend: site.baseurl }}" alt="Wyjazd z Krakowa Szlakiem Bursztynowym Greenway">
        <figcaption>Wyjazd z Krakowa Bursztynowym Szlakiem Greenway</figcaption>
      </figure>
      <figure>
        <img src="{{ '/assets/posts/2014-08-17/P8141829.jpg' | prepend: site.baseurl }}" alt="Wejście na plac Kościoła Dziesięciu Tysięcy Męczenników w Niepołomicach">
        <figcaption>Wejście na plac Kościoła Dziesięciu Tysięcy Męczenników w Niepołomicach</figcaption>
      </figure>
      <figure>
        <img src="{{ '/assets/posts/2014-08-17/P8141834.jpg' | prepend: site.baseurl }}" alt="Żubrostrada w Puszczy Niepołomickiej">
        <figcaption>Żubrostrada w Puszczy Niepołomickiej</figcaption>
      </figure>
      <figure>
        <img src="{{ '/assets/posts/2014-08-17/P8141838.jpg' | prepend: site.baseurl }}" alt="Rower z sakwami na poukładanym drzewie w Puszczy Niepołomickiej">
      </figure>
    </div>
    <div class="row">
      <p class="medium-10 medium-offset-1 columns">Przy wyjeździe z Krakowa pomocy jest Bursztynowy Szlak Greenway. Prowadzi przez Niepołomice, gdzie zupełnie zapomniałem o istnieniu <a href="http://pl.wikipedia.org/wiki/Zamek_Kr%C3%B3lewski_w_Niepo%C5%82omicach">tutejszego zamku</a>. Nazywany drugim Wawelem, po kilku latach intensywnych remontów, zdecydowanie warto zobaczyć.</p>

      <div class="rt-gallery rt-gallery-horizontal">
        <figure>
          <img src="{{ '/assets/posts/2014-08-17/P8141848.jpg' | prepend: site.baseurl }}" alt="Bohnia, szyb Campi">
          <figcaption>Bohnia, szyb Campi. Pod ziemią zdecydowanie więcej atrakcji</figcaption>
        </figure>
        <figure>
          <img src="{{ '/assets/posts/2014-08-17/P8141851.jpg' | prepend: site.baseurl }}" alt="Zamek w Nowym Wiśniczu">
          <figcaption>Zamek w Nowym Wiśniczu</figcaption>
        </figure>
      </div>
    </div>

    <div class="row">
    </div>


    <div class="row">
      <p class="medium-10 medium-offset-1 columns">Greenway prowadzi dalej na wschód, a ja odbijam na południe w stronę Bohni. Znajduję lokalne szlaki i zaliczam pierwsze podjazdy w okolicy Nowego Wiśnicza. Tymczasem Lipnica Murowana wita mnie skromnym deszczykiem.</p>

      <div class="rt-gallery rt-gallery-horizontal">
        <figure>
          <img src="{{ '/assets/posts/2014-08-17/P8141852.jpg' | prepend: site.baseurl }}" alt="Czarny szlak z Lipnicy Murowanej">
          <figcaption><a href="http://mapa-turystyczna.pl/trail/4982">Czarny szlak</a> z Lipnicy Murowanej</figcaption>
        </figure>
        <figure>
          <img src="{{ '/assets/posts/2014-08-17/P8141856.jpg' | prepend: site.baseurl }}" alt="Bacówka Biały Jeleń">
          <figcaption>Bacówka "Biały Jeleń"</figcaption>
        </figure>
      </div>

      <p class="medium-10 medium-offset-1 columns">Zmotywowany informacją o bacówce ze świetną kuchnią nie myślę o powrocie na szosę, gdzie przemoknąłbym do reszty. Zachwycam się pierogami i przeczekuję deszcz. Nocuję kilka kilometrów dalej w lesie na terenie wsi Wytrzyszczka.</p>
    </div>
  </section>


  <section id="dzien-2" class="rt-content">
    <div class="row">
      <div class="medium-10 medium-offset-1 columns">
        <time>2014-08-15</time>
        <h2>Dzień 2. <br>Wzdłuż Dunajca i Popradu</h2>
        <h3>Beskid Sądecki</h3>
        <p>Wyskakuję bezpośrednio na Karpacki Szlak Rowerowy. Promem przeprawiam się na drugą stronę Dunajca i kieruję w stronę Nowego Sącza.</p>
      </div>

      <div class="rt-gallery rt-gallery-horizontal">
        <figure>
          <img src="{{ '/assets/posts/2014-08-17/P8151863.jpg' | prepend: site.baseurl }}" alt="Okolice promu we wsi Wytrzyszczka">
          <figcaption>Okolice promu we wsi Wytrzyszczka</figcaption>
        </figure>
        <figure>
          <img src="{{ '/assets/posts/2014-08-17/P8151867.jpg' | prepend: site.baseurl }}" alt="Tereny Sanktuarium we wsi Tropie">
          <figcaption>Tereny Sanktuarium we wsi Tropie</figcaption>
        </figure>
        <figure>
          <img src="{{ '/assets/posts/2014-08-17/P8151868.jpg' | prepend: site.baseurl }}" alt="Przeprawa nad strumieniem we wsi Gródek nad Dunajcem">
        </figure>
      </div>
    </div>

    <figure class="rt-gallery rt-gallery-single">
      <img src="{{ '/assets/posts/2014-08-17/P8151871.jpg' | prepend: site.baseurl }}" alt="Beskid Sądecki">
    </figure>

    <div class="row">
      <p class="medium-10 medium-offset-1 columns">Wzdłuż Popradu kawałek Szlaku Karpackiego prowadzi świetnym single trackiem. Ciężko o takie rarytasy na pieszych ścieżkach.</p>
      <div class="rt-gallery rt-gallery-horizontal">
        <figure>
          <img src="{{ '/assets/posts/2014-08-17/P8151872.jpg' | prepend: site.baseurl }}" alt="Beskid Sądecki">
        </figure>
        <figure>
          <img src="{{ '/assets/posts/2014-08-17/P8151879.jpg' | prepend: site.baseurl }}" alt="Single track w okolicy Piwnicznej">
        </figure>
      </div>
      <div class="rt-gallery rt-gallery-horizontal">
        <figure>
          <img src="{{ '/assets/posts/2014-08-17/P8151890.jpg' | prepend: site.baseurl }}" alt="Beskid Sądecki, okolice Piwnicznej">
        </figure>
        <figure>
          <img src="{{ '/assets/posts/2014-08-17/P8161912.jpg' | prepend: site.baseurl }}" alt="Eliaszówka - wieża widokowa, namiot">
        </figure>
      </div>
    </div>

    <div class="row">
      <p class="medium-10 medium-offset-1 columns">Porzucam Karpacki Szlak w Piwnicznej i wyjeżdżam na Eliaszówkę. Nocuję na wieży widokowej. Wiatr nieco daje się we znaki, ale czego nie robi się dla widoków...</p>
    </div>

    <figure class="rt-gallery rt-gallery-single">
      <img src="{{ '/assets/posts/2014-08-17/P8151907.jpg' | prepend: site.baseurl }}" alt="Eliaszówka - widok z wieży nocą">
    </figure>
  </section>


  <section id="dzien-3" class="rt-content">
    <div class="row">
      <div class="medium-10 medium-offset-1 columns">
        <time>2014-08-16</time>
        <h2>Dzień 3. <br>Zabawy w błocie</h2>
        <h3>Czerwony Klasztor, Pieniny, Gorce</h3>
        <p>Kontynuuję wzdłuż granicy i jakie było moje zdziwienie, gdy nagle przede mną wyrosło stado kóz.</p>
      </div>
      <div class="rt-gallery rt-gallery-horizontal">
        <figure>
          <img src="{{ '/assets/posts/2014-08-17/P8161924.jpg' | prepend: site.baseurl }}" alt="Beskid Sądecki - kozy na szlaku">
        </figure>
        <figure>
          <img src="{{ '/assets/posts/2014-08-17/P8161922.jpg' | prepend: site.baseurl }}" alt="Beskid Sądecki - widok na Pieniny">
        </figure>
      </div>

      <div class="medium-10 medium-offset-1 columns">
        <p>Zjeżdżam do Jaworków po mokrej trawie. Zbyt ostre hamowanie kończy się kontaktem z ziemią. Całe szczęście to tylko trawa. Dalej Szczawnica i bardzo popularna ścieżka rowerowa pod Czerwony Klasztor.</p>
      </div>
    </div>

    <div class="rt-gallery rt-gallery-horizontal">
      <figure>
        <img src="{{ '/assets/posts/2014-08-17/P8161926.jpg' | prepend: site.baseurl }}" alt="Sakwy Ortlieb po kontakcie z ziemią">
      </figure>
      <figure>
        <img src="{{ '/assets/posts/2014-08-17/P8161925.jpg' | prepend: site.baseurl }}" alt="Widok z Beskidu Sądeckiego">
      </figure>
      <figure>
        <img src="{{ '/assets/posts/2014-08-17/P8161933.jpg' | prepend: site.baseurl }}" alt="Flisacy na Dunajcu">
      </figure>
    </div>

    <div class="row">
      <p class="medium-10 medium-offset-1 columns">Postanawiam ominąć szosę, żółtym szlakiem wskoczyć na Pieniny i zjechać w stronę Czorsztyna. Pierwsze kilkaset metrów - formalność. Druga połowa do przełęczy to już same schody i niesienie roweru. Już w Beskidzie Sądeckim błoto stanowiło problem, choć szlaki praktycznie nieuczęszczne. Tutaj niebieska nitka prowadząca grzbietem zmieniła się dosłownie w plac budowy. Szlak pieszy, szczyt sezonu i sakwy na rowerze to nie jest dobry pomysł.</p>

      <figure class="rt-gallery rt-gallery-single">
        <img src="{{ '/assets/posts/2014-08-17/2014-08-16 14.36.33.jpg' | prepend: site.baseurl }}" alt="Widok z Pienin na Tatry">
        <figcaption>Pieniny, widok na Tatry</figcaption>
      </figure>
    </div>

    <figure class="rt-gallery rt-gallery-single">
      <img src="{{ '/assets/posts/2014-08-17/P8161937.jpg' | prepend: site.baseurl }}" alt="Czorsztyn i Jezioro Czorsztyńskie">
      <figcaption>Czorsztyn i Jezioro Czorsztyńskie</figcaption>
    </figure>

    <div class="row">
      <p class="medium-10 medium-offset-1 columns">Ostatnimi siłami, ale bez większych problemów wjeżdżam na Turbacz. Myję rower po błotnych przygodach i nocuję w schronisku.</p>

      <div class="rt-gallery rt-gallery-horizontal">
        <figure>
          <img src="{{ '/assets/posts/2014-08-17/P8161939.jpg' | prepend: site.baseurl }}" alt="Szlak na Turbacz - powalone drzewa">
        </figure>
        <figure>
          <img src="{{ '/assets/posts/2014-08-17/P8161942.jpg' | prepend: site.baseurl }}" alt="Widok z Turbacza na Jezioro Czorsztyńskie">
        </figure>
      </div>
    </div>
  </section>


  <section id="dzien-4" class="rt-content">
    <div class="row">
      <div class="medium-10 medium-offset-1 columns">
        <time>2014-08-17</time>
        <h2>Dzień 4. <br>Po kremówkę i do domu</h2>
        <h3>Rabka, Wadowice</h3>
        <p>Zawijam do Rabki i na ostatni przystanek wybieram Wadowice. Jazda główną drogą do najprzyjemniejszych nie należy. Docelowo metę planowałem w Żywcu lub Wiśle. Pewnie gdyby mieć do dyspozycji cały dzień, wszystko jest do zrobienia. Chociaż kremówka też ma swoje plusy.</p>
      </div>
    </div>

    <div class="rt-gallery rt-gallery-horizontal">
      <figure>
        <img src="{{ '/assets/posts/2014-08-17/P8171943.jpg' | prepend: site.baseurl }}" alt="Unimog vs rower przy schronisku na Turbaczu">
      </figure>
      <figure>
        <img src="{{ '/assets/posts/2014-08-17/2014-08-17 10.35.32.jpg' | prepend: site.baseurl }}" alt="Widok na okolice Rabki">
      </figure>
    </div>
  </section>


  <section id="sprzet" class="rt-content">
    <div class="row">
      <div class="medium-10 medium-offset-1 columns">
        <h2>Sprzęt</h2>
        <p>Najbardziej dały się we znaki hamulce. Tylne okładziny dosłownie zniknęły trzeciego dnia. Zjeżdżając z Turbacza została cienka warstwa na przednim. Momentami strach w oczach. Od razu po powrocie dwa zapasowe zestawy natychmiast wylądowały u mnie w sakiewce podsiodłowej. Tarczowe mają tą przewagę, że nie straszna im głębsza woda i błoto. Chodzą za mną od jakiegoś czasu, ale przy obecnej konfiguracji musiałbym połowę roweru wymienić, aby umożliwić sobie sam ich montaż.</p>
        <p>Na resztę sprzętu nie mam co narzekać. Może mój budżetowy widelec nie bardzo chciał współgrać ze sterami, jednak to temat na osobny wpis. Napęd bez problemu poradził sobie z błotem, przy czym przynajmniej raz dziennie w takich warunkach trzeba łańcuch wyczyścić i przesmarować. Warto nakrywać rower podczas nocowania na dziko. Nie będzie osadzała się rosa.</p>
      </div>

      <figure class="rt-gallery rt-gallery-single">
        <img src="{{ '/assets/posts/2014-08-17/P8131826.jpg' | prepend: site.baseurl }}" alt="Sprzęt i akcesoria na wyprawę rowerową">
      </figure>

      <p class="medium-10 medium-offset-1 columns">Góry mocno zweryfikowały wagę roweru. Najbardziej ciążył namiot i sakwy. Iglo choć swoje waży, zapewnia komfortowe spanie, a przy okazji spokojnie pomieści dodatkową osobę. Sakwy natomiast są uniwersalne i szybkie w obsłudze. Pójdą na pierwszy ogień. Następnym razem spróbuję z nich zrezygnować.</p>
    </div>
  </section>

  <section id="koszty" class="rt-content">
    <div class="row">
      <div class="medium-10 medium-offset-1 columns">
        <h2>Koszty</h2>
        <table width="100%">
          <tr>
            <td>Dzień 0</td>
            <td>Jedzenie + higiena</td>
            <td class="text-right">31,44</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>Bilet na pociąg do Krakowa</td>
            <td class="text-right">11,65</td>
            <td class="text-right">31,44zł</td>
          </tr>
          <tr>
            <td>Dzień 1</td>
            <td>Pierogi i herbata</td>
            <td class="text-right">19,00</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>Jedzenie</td>
            <td class="text-right">12,19</td>
            <td class="text-right">31,19zł</td>
          </tr>
          <tr>
            <td>Dzień 2</td>
            <td>Woda</td>
            <td class="text-right">4,30</td>
            <td class="text-right">4,30zł</td>
          </tr>
          <tr>
            <td>Dzień 3</td>
            <td>Jedzenie (w tym dla bezdomnego)</td>
            <td class="text-right">35,89</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>Woda</td>
            <td class="text-right">4,00</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>Oscypek</td>
            <td class="text-right">15,00</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>Noc na podłodze w schronisku</td>
            <td class="text-right">15,00</td>
            <td class="text-right">69,89zł</td>
          </tr>
          <tr>
            <td>Dzień 4</td>
            <td>Jedzenie</td>
            <td class="text-right">14,83</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>Okładziny do v-brake</td>
            <td class="text-right">7,00</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>Kremówka</td>
            <td class="text-right">4,50</td>
            <td class="text-right">26,33zł</td>
          </tr>
          <tr>
            <td colspan="3" class="text-right"><strong>Suma</strong></td>
            <td class="text-right"><strong>174,80zł</strong></td>
          </tr>
        </table>
      </div>
    </div>
  </section>
</article>

<section id="mapa" class="row rt-content">
  <h2 class="medium-10 medium-offset-1 columns">Mapa <small>(<a href="{{ '/assets/posts/2014-08-17/gpx/krakow-pogorze-wisnickie-beskid-sadecki-pieniny-gorce.gpx' | prepend: site.baseurl }}">GPX</a>)</small></h2>
  <iframe src="//ridewithgps.com/routes/5890993/embed" height="600" width="100%" frameborder="0"></iframe>
</section>

<section class="rt-content" id="komentarze">
  <div class="row">
    <div class="medium-10 medium-offset-1 columns">
      {% include social_buttons.html %}
      <h2>Komentarze</h2>
      {% include disqus.html %}
    </div>
  </div>
</section>

<div class="rt-drawer" data-side-drawer>
  <ul class="rt-contents no-bullet">
    <li class="rt-contents-title">Spis treści</li>
    <li><a href="#dzien-1"><strong style="background-color: #1B9AF7; color: #fff;">1. </strong>Kierunek góry</a></li>
    <li><a href="#dzien-2"><strong style="background-color: #28A386; color: #fff;">2. </strong>Wzdłuż Dunajca i Popradu</a></li>
    <li><a href="#dzien-3"><strong style="background-color: #DC424E; color: #fff;">3. </strong>Zabawy w błocie</a></li>
    <li><a href="#dzien-4"><strong style="background-color: #FC880E; color: #fff;">4. </strong>Po kremówkę i do domu</a></li>
    <li><a href="#sprzet">Sprzęt</a></li>
    <li><a href="#koszty">Koszty</a></li>
    <li><a href="#mapa">Mapa</a></li>
    <li><a href="#komentarze">Komentarze</a></li>
    <li class="rt-contents-fb"><a href="https://www.facebook.com/rowerotopia"><strong>{% include svg/facebook.svg %}</strong> /rowerotopia</a></li>
  </ul>
</div>
