---
layout: trip
title: "Beskid Śląski"
subtitle: "Trasa rowerowa pasmem szczytów i przełęczy Beskidu Śląskiego"
description: "Opis trasy rowerowej pasmem szczytów i przełęczy Beskidu Śląskiego. Prowadzi przez okolice miejscowości: Wisła, Ustroń, Bielsko-Biała i Żywiec."
date: 2014-11-08 00:00:00
cover: "/assets/posts/2014-10-04/cover.jpg"
thumbnail: "/assets/posts/2014-10-04/thumbnail.jpg"
excerpt: "Mimo sąsiedztwa niemal 200 tys miasta oraz kilku uzdrowisk, nadal istnieją miejsca tak blisko, a jednocześnie daleko od cywilizacji. Trasa wiedzie pasmem szczytów i przełęczy Beskidu Śląskiego. Pozwala dobrze poznać charakterystykę gór otoczonych przez Wisłę, Ustroń, Bielsko-Białą i Żywiec."
permalink: "/trasy/beskid-slaski-rowerem/"
---

<img class="cover" src="{{ '/assets/posts/2014-10-04/cover_wide.jpg' | prepend: site.baseurl }}" alt="Ciekawe zjawisko nad Magurą widzianą z Klimczoka">

<article class="rt-trip">
  <div class="row">
    <div class="medium-8 medium-offset-2 columns">
      {% include social_buttons.html %}
      <time>04-10-2014</time>
      <h1 class="rt-trip-title">{{ page.title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="medium-8 medium-offset-2 columns">
      <p>Mimo sąsiedztwa niemal 200 tys miasta oraz kilku uzdrowisk, nadal istnieją miejsca tak blisko, a jednocześnie daleko od cywilizacji. Trasa wiedzie pasmem szczytów i przełęczy Beskidu Śląskiego. Pozwala dobrze poznać charakterystykę gór otoczonych przez Wisłę, Ustroń, Bielsko-Białą i Żywiec.</p>

      <p>Ilość szlaków i schronisk może przywracać o zawroty główy. Prywatnych kwater też znajdziesz po drodze spore ilości. Ja jednak w ramach noclegu polecam udać się do chatki studenckiej na Pietraszonce prowadzonej przez <a href="http://www.akt.gliwice.pl/cms/index.php/chatka-akt">stowarzyszenie Watra</a> z Gliwic. Atmosfera jakiej nie znajdziesz w żadnym obiekcie PTTK. Ciekawi ludzie, ognisko, 3km do sklepu, kominek, kuchnia, a nawet ciepła woda. Niczego więcej do szczęścia w górach nie potrzeba. Czynna co weekend lub codziennie przez wakacje i ferie.</p>

      <div class="rt-gallery rt-gallery-horizontal">
        <figure>
          <a data-gallery-item href="{{ '/assets/posts/2014-10-04/PA052081.jpg' | prepend: site.baseurl }}" title="Chatka na Pietraszonce"><img src="{{ '/assets/posts/2014-10-04/thumbnails/PA052081.jpg' | prepend: site.baseurl }}" alt="Chatka na Pietraszonce"></a>
        </figure>
        <figure>
          <a data-gallery-item href="{{ '/assets/posts/2014-10-04/PA042079.jpg' | prepend: site.baseurl }}" title="O czym nie pomyślisz, tutaj ugotujesz"><img src="{{ '/assets/posts/2014-10-04/thumbnails/PA042079.jpg' | prepend: site.baseurl }}" alt="O czym nie pomyślisz, tutaj ugotujesz"></a>
        </figure>
        <figure>
          <a data-gallery-item href="{{ '/assets/posts/2014-10-04/PA042080.jpg' | prepend: site.baseurl }}" title="Saloon"><img src="{{ '/assets/posts/2014-10-04/thumbnails/PA042080.jpg' | prepend: site.baseurl }}" alt="Saloon"></a>
        </figure>
      </div>

      <h3>Nawierzchnia</h3>
      <p>Szlaki PTTK w Beskidzie Śląskim są bardzo różne. Znajdą się podejścia z luźnymi kamieniami nie do przejechania, na pewno nie w górę. Podobnie z korzeniami. Za to z drugiej strony taka charakterystyka terenu niemal całkowicie eliminuje błoto. Coś za coś.</p>

      <p>Pod względem nawierzchni, zdecydowanie drugi dzień pokazał się od lepszej strony. Na granicy z Czechami dominują ubite ścieżki i mocno rozwinięta infrastruktura narciarska. Rozczarowywuje trochę Czantoria, bo ostatni odcinek momentami przeradza się w spinaczkę po luźnych kamieniach.</p>

      <p>Większość popularnych tras jest bardzo dobrze udokumentowanych przez społeczność mtb/enduro na zdjęciach i filmikach w sieci. Oprócz szlaków PTTK istnieje sporo nieoficjalnych ścieżek. Ciężko na ich podstawie wyznaczyć dłuższy wypad, ale będąc w okolicy zawsze znajdzie się nowe miejsce na popołudniową objazdówkę. Polecam na dobry początek trasy tegorocznych zawodów <a href="http://endurotrails.pl/trasy/bielsko-biala">enduro trails</a>.</p>
    </div>

    <div class="rt-gallery rt-gallery-horizontal">
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2014-10-04/PA042069.jpg' | prepend: site.baseurl }}" title="Szlak im. Stanisława Huli"><img src="{{ '/assets/posts/2014-10-04/thumbnails/PA042069.jpg' | prepend: site.baseurl }}" alt="Szlak Stanisława Huli (odcinek pomiędzy Chatą Wuja Toma i Przełęczą Biały Krzyż)"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2014-10-04/PA042070.jpg' | prepend: site.baseurl }}"><img src="{{ '/assets/posts/2014-10-04/thumbnails/PA042070.jpg' | prepend: site.baseurl }}"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2014-10-04/PA042071.jpg' | prepend: site.baseurl }}" title="Przed Baranią Górą"><img src="{{ '/assets/posts/2014-10-04/thumbnails/PA042071.jpg' | prepend: site.baseurl }}" alt="Przed Baranią Górą"></a>
      </figure>
    </div>
    <div class="rt-gallery rt-gallery-horizontal">
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2014-10-04/PA042074.jpg' | prepend: site.baseurl }}" title="Widok z wieży na Baraniej Górze"><img src="{{ '/assets/posts/2014-10-04/thumbnails/PA042074.jpg' | prepend: site.baseurl }}" alt="Widok z wieży na Baraniej Górze"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2014-10-04/PA042076.jpg' | prepend: site.baseurl }}" title="Jedno z niewielu miejsc ze stojącą wodą (zjazd z Baraniej Góry)"><img src="{{ '/assets/posts/2014-10-04/thumbnails/PA042076.jpg' | prepend: site.baseurl }}" alt="Jedno z niewielu miejsc ze stojącą wodą (zjazd z Baraniej Góry)"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2014-10-04/PA042077.jpg' | prepend: site.baseurl }}" title="Do wyboru luźne kamienie lub korzyenie"><img src="{{ '/assets/posts/2014-10-04/thumbnails/PA042077.jpg' | prepend: site.baseurl }}" alt="Do wyboru luźne kamienie lub korzyenie"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2014-10-04/PA052103.jpg' | prepend: site.baseurl }}" title="Przed Czantorią"><img src="{{ '/assets/posts/2014-10-04/thumbnails/PA052103.jpg' | prepend: site.baseurl }}" alt="Przed Czantorią"></a>
      </figure>
    </div>

    <div class="medium-8 medium-offset-2 columns">
      <h3>Trudności</h3>
      <p>Dopóki pogoda dopisuje największy problem będą stanowić turyści, gdzie w moim przypadku sporo osób wyszło na szlaki nawet bez nadziei na jakiekolwiek widoki. Szczególnie dają się we znaki szkolne grupy. Zdecydowanie nie są to góry, w których można godzinami jechać bez spotkania żywej duszy.</p>

      <h3>Dostęp do cywilizacji</h3>
      <p>Panuje tutaj największe stężenie schronisk w polskich górach. Każda przełęcz to asfaltowa droga i zajazd na szczycie. Bardzo trudno jest się tutaj zgubić, a jeszcze trudniej umrzeć z głodu.</p>

      <h3>Warto rozważyć</h3>
      <p>Beskid Śląski to dosłownie czubek góry lodowej. Trasę można zaplanować dalej przez położony w Czechach, Beskid Śląsko-Morawski. Natomiast po odwróceniu, do dyspozycji pozostają polskie góry z <a href="http://pl.wikipedia.org/wiki/G%C5%82%C3%B3wny_Szlak_Beskidzki">Głównym Szlakiem Beskidzkim</a> na czele.</p>

      <p>Największą atrakcją turystyczną na trasie jest <a href="http://pl.wikipedia.org/wiki/Zamek_Prezydenta_Rzeczypospolitej_Polskiej_w_Wiśle">zimowa rezydencja prezydencka</a> na przełęczy Kubalonka w Wiśle. Powoli staje się tradycją, że dowiaduję się o takich rodzynkach ze znaków kilka km dalej, albo przy przeglądaniu trasy w domu.</p>
    </div>

    <div class="rt-gallery rt-gallery-horizontal">
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2014-10-04/PA042060.jpg' | prepend: site.baseurl }}" title="Pod schroniskiem na Szyndzielni"><img src="{{ '/assets/posts/2014-10-04/thumbnails/PA042060.jpg' | prepend: site.baseurl }}" alt="Pod schroniskiem na Szyndzielni"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2014-10-04/PA042061.jpg' | prepend: site.baseurl }}" title="Widok z Klimczoka na Magurę"><img src="{{ '/assets/posts/2014-10-04/thumbnails/PA042061.jpg' | prepend: site.baseurl }}" alt="Widok z Klimczoka na Magurę"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2014-10-04/PA042073.jpg' | prepend: site.baseurl }}"><img src="{{ '/assets/posts/2014-10-04/thumbnails/PA042073.jpg' | prepend: site.baseurl }}"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2014-10-04/PA052083.jpg' | prepend: site.baseurl }}"><img src="{{ '/assets/posts/2014-10-04/thumbnails/PA052083.jpg' | prepend: site.baseurl }}"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2014-10-04/PA052087.jpg' | prepend: site.baseurl }}" title=""><img src="{{ '/assets/posts/2014-10-04/thumbnails/PA052087.jpg' | prepend: site.baseurl }}"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2014-10-04/PA052091.jpg' | prepend: site.baseurl }}"><img src="{{ '/assets/posts/2014-10-04/thumbnails/PA052091.jpg' | prepend: site.baseurl }}"></a>
      </figure>
    </div>
    <div class="rt-gallery rt-gallery-horizontal">
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2014-10-04/PA052094.jpg' | prepend: site.baseurl }}"><img src="{{ '/assets/posts/2014-10-04/thumbnails/PA052094.jpg' | prepend: site.baseurl }}"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2014-10-04/PA052095.jpg' | prepend: site.baseurl }}" title="Kościół na przełęczy Kubalonka"><img src="{{ '/assets/posts/2014-10-04/thumbnails/PA052095.jpg' | prepend: site.baseurl }}" alt="Kościół na przełęczy Kubalonka"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2014-10-04/PA052097.jpg' | prepend: site.baseurl }}"><img src="{{ '/assets/posts/2014-10-04/thumbnails/PA052097.jpg' | prepend: site.baseurl }}"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2014-10-04/PA052101.jpg' | prepend: site.baseurl }}"><img src="{{ '/assets/posts/2014-10-04/thumbnails/PA052101.jpg' | prepend: site.baseurl }}"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2014-10-04/PA052104.jpg' | prepend: site.baseurl }}"><img src="{{ '/assets/posts/2014-10-04/thumbnails/PA052104.jpg' | prepend: site.baseurl }}"></a>
      </figure>
    </div>
  </div>
</article>

<section class="row rt-content">
  <h2 class="medium-10 medium-offset-1 columns">Mapa <small>(<a href="{{ '/assets/posts/2014-10-04/gpx/beskid-slaski-tour.gpx' | prepend: site.baseurl }}">GPX</a>)</small></h2>
  <iframe src="//ridewithgps.com/routes/6207682/embed" height="600" width="100%" frameborder="0"></iframe>
</section>

<section class="rt-content" id="komentarze">
  <div class="row">
    <div class="medium-10 medium-offset-1 columns">
      {% include social_buttons.html %}
      <h2>Komentarze</h2>
      {% include disqus.html %}
    </div>
  </div>
</section>
