---
layout: trip
title: "Bieszczady"
description: "Opis 4-dniowej wycieczki rowerowej z Przemyśla przez Bieszczady i Beskid Niski do Nowego Sącza."
subtitle: "4-dniowa wycieczka z Przemyśla przez Bieszczady i Beskid Niski do Nowego Sącza"
date: 2014-07-26 00:00:00
cover: "/assets/posts/2015-07-26/cover.jpg"
thumbnail: "/assets/posts/2015-07-26/thumbnail.jpg"
excerpt: "Kontynuuję długo-weekendowe wyprawy rowerowe po Polsce. Tym razem wybrałem się w Bieszczady. Góry z punktu widzenia pieszego bardzo rozległe, za to na rower - idealne. Jest tutaj wszystko, czego można oczekiwać od udanej trasy rowerowej - singletracki ciągnące się kilometrami, szutrowe bezdroża oraz zupełnie zapomniane drogi asfaltowe. Wszystko to w zmiennej scenerii gór, jezior oraz wsi, gdzie czas się zatrzymał."
permalink: "/trasy/bieszczady-rowerem/"
---

<img class="cover" src="{{ '/assets/posts/2015-07-26/cover_wide.jpg' | prepend: site.baseurl }}" alt="">

<article class="rt-trip">
  <div class="row">
    <div class="medium-10 medium-offset-1 columns">
      {% include social_buttons.html %}
      <h1 class="rt-trip-title">{{ page.title }}</h1>

      <div class="row">
        <dl class="rt-stats small-4 columns">
          <dt>Dystans</dt>
          <dl>318km <br> <small>(<a href="#mapa">Mapa + GPX</a>)</small></dl>
          <dt>% bezdroży</dt>
          <dl>40%</dl>
        </dl>
        <dl class="rt-stats small-4 columns">
          <dt>Suma przewyższeń</dt>
          <dl>5146m</dl>
          <dt>Najwyższy punkt</dt>
          <dl>768m n.p.m. <br> <small>(Holica)</small></dl>
        </dl>
        <dl class="rt-stats small-4 columns">
          <dt>Noclegi</dt>
          <dl>
            <span title="Namiot">{% include svg/tent.svg %}</span> 3&nbsp;&nbsp;&nbsp;
            <span title="Schronisko">{% include svg/mountain_hostel.svg %}</span> 1
          </dl>
        </dl>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="medium-8 medium-offset-2">
      <p>Kontynuuję długo-weekendowe wyprawy rowerowe po Polsce. Tym razem wybrałem się w Bieszczady. Góry z punktu widzenia pieszego bardzo rozległe, za to na rower - idealne. Jest tutaj wszystko, czego można oczekiwać od udanej trasy rowerowej - singletracki ciągnące się kilometrami, szutrowe bezdroża oraz zupełnie zapomniane drogi asfaltowe. Wszystko to w zmiennej scenerii gór, jezior oraz wsi, gdzie czas się zatrzymał.</p>
    </div>

    <div class="rt-gallery rt-gallery-horizontal">
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/38.jpg' | prepend: site.baseurl }}" title="Schronisko na Smolniku. Odremontowane i prowadzone przez nowego właściciela"><img src="{{ '/assets/posts/2015-07-26/thumbnails/38.jpg' | prepend: site.baseurl }}" alt="Schronisko na Smolniku. Odremontowane i prowadzone przez świetnego właściciela"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/37.jpg' | prepend: site.baseurl }}" title="Widok z okna"><img src="{{ '/assets/posts/2015-07-26/thumbnails/37.jpg' | prepend: site.baseurl }}" alt="Widok z okna"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/36.jpg' | prepend: site.baseurl }}" title="Bez obaw, kuchenka gazowa jest na zapleczu :)"><img src="{{ '/assets/posts/2015-07-26/thumbnails/36.jpg' | prepend: site.baseurl }}" alt="Bez obaw, kuchenka gazowa jest na zapleczu :)"></a>
      </figure>
    </div>

    <div class="medium-8 medium-offset-2">
      <h3>Teren</h3>
      <p>Na próżno szukać w Bieszczadach wysokich szczytów i morderczych podjazdów. Mimo to cały dzień pokonywania drobnych przełęczy potrafi dać się we znaki. Sporą część trasy stanowią szlaki piesze, bezdroża i ścieżki utwardzone na potrzeby okolicznych mieszkańców. Standardowo po intensywnym deszczu duża część z leśnych odcinków będzie obfitowała w nieprzejezdne pokłady błota. Pozostałe, asfaltowe drogi są na ogół w dobrym stanie.</p>
    </div>

    <div class="rt-gallery rt-gallery-horizontal">
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/8.jpg' | prepend: site.baseurl }}" title="Niebieski szlak na Pogórzu Przemyskim"><img src="{{ '/assets/posts/2015-07-26/thumbnails/8.jpg' | prepend: site.baseurl }}" alt="Niebieski szlak na Pogórzu Przemyskim"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/9.jpg' | prepend: site.baseurl }}" title="Łąki to częsty widok na bieszczadzkich polach"><img src="{{ '/assets/posts/2015-07-26/thumbnails/9.jpg' | prepend: site.baseurl }}" alt="Łąki to częsty widok na bieszczadzkich polach"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/16.jpg' | prepend: site.baseurl }}" title="Droga nad Ustrzykami Dolnymi"><img src="{{ '/assets/posts/2015-07-26/thumbnails/16.jpg' | prepend: site.baseurl }}" alt="Droga nad Ustrzykami Dolnymi"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/45.jpg' | prepend: site.baseurl }}" title="Szlak w Magurskim Parku Narodowym"><img src="{{ '/assets/posts/2015-07-26/thumbnails/45.jpg' | prepend: site.baseurl }}" alt="Szlak w Magurskim Parku Narodowym"></a>
      </figure>
    </div>

    <div class="medium-8 medium-offset-2">
      <h3>Trudności</h3>
      <p>Oznakowanie szlaków należy do kategorii bardzo dobre albo żadne. Zdarzało mi się przegapiać zjazdy, co idealnie ilustruje <a href="http://ridewithgps.com/routes/8409703">ślad GPX</a> przed poprawkami. Mniej wprawieni rowerzyści pewnie mocniej odczują przewyższenia. Mimo to daleki jestem od kategoryzowania tej trasy jako trudnej. Całość jest do przejechania w siodełku, a mieszkańcy zawsze chętnie pomogą, gdy się zgubisz.</p>
    </div>

    <div class="medium-10 medium-offset-1">
      <figure class="rt-gallery rt-gallery-single">
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/45.jpg' | prepend: site.baseurl }}" title="Przed Baranią Górą">
          <img src="/assets/posts/2015-07-26/47.jpg" alt="">
        </a>
      </figure>
    </div>

    <div class="medium-8 medium-offset-2">
      <h3>Dostęp do cywilizacji</h3>
      <p>Noclegi i codzienne uzupełnianie zapasów nie powinno stanowić problemu. Trzeba jednak się liczyć z tym, że wioski wyglądające na mapie jako całkiem spore, mogą w rzeczywistości liczyć raptem kilka domów. Warto mieć zapas jedzenia i wody pod ręką. Okolice obfitują w strumyki, ale jeść też trzeba. Ze spaniem na dziko nie ma problemów, wokół jezior zawsze znajdzie się pole namiotowe lub domki do wynajęcia.</p>
      <h3>Warto rozważyć</h3>
      <p>Bieszczadzki Park Narodowy to obowiązkowa pozycja. Niestety ograniczenia czasowe zadecydowały za mnie. Jest kilka wytyczonych <a href="{{ '/assets/posts/2015-07-26/trasy-rowerowe-bieszczadzki-park-narodowy.jpg' | prepend: site.baseurl }}">tras rowerowych</a>, które wyglądają na ciekawe. Za granicą do dyspozycji pozostaje ukraińska i słowacka część pasma. Przy dłuższej wyprawie wziąłbym je pod uwagę.</p>
    </div>

    <div class="rt-gallery rt-gallery-horizontal">
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/1.jpg' | prepend: site.baseurl }}" title="PKP Intercity relacji Warszawa -> Przemyśl. Przesiadka nr 1 Lublin"><img src="{{ '/assets/posts/2015-07-26/thumbnails/1.jpg' | prepend: site.baseurl }}" alt="Dworzec PKP w Lublinie"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/2.jpg' | prepend: site.baseurl }}" title="... i nr 2 - Rzeszów"><img src="{{ '/assets/posts/2015-07-26/thumbnails/2.jpg' | prepend: site.baseurl }}" alt="Dworzec PKP w Rzeszowie"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/3.jpg' | prepend: site.baseurl }}" title="W drodze do Przemyśla"><img src="{{ '/assets/posts/2015-07-26/thumbnails/3.jpg' | prepend: site.baseurl }}" alt="W drodze do Przemyśla"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/4.jpg' | prepend: site.baseurl }}" title="Rynek w Przemyślu"><img src="{{ '/assets/posts/2015-07-26/thumbnails/4.jpg' | prepend: site.baseurl }}" alt="Rynek w Przemyślu"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/5.jpg' | prepend: site.baseurl }}" title="Krzyż górujący nad Przemyślem"><img src="{{ '/assets/posts/2015-07-26/thumbnails/5.jpg' | prepend: site.baseurl }}" alt="Krzyż górujący nad Przemyślem"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/6.jpg' | prepend: site.baseurl }}" title="Panorama Przemyśla"><img src="{{ '/assets/posts/2015-07-26/thumbnails/6.jpg' | prepend: site.baseurl }}" alt="Panorama Przemyśla"></a>
      </figure>
    </div>
    <div class="rt-gallery rt-gallery-horizontal">
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/7.jpg' | prepend: site.baseurl }}" title="Nocleg na dziko na Pogórzu Przemyskim"><img src="{{ '/assets/posts/2015-07-26/thumbnails/7.jpg' | prepend: site.baseurl }}" alt="Nocleg na dziko na Pogórzu Przemyskim"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/10.jpg' | prepend: site.baseurl }}"><img src="{{ '/assets/posts/2015-07-26/thumbnails/10.jpg' | prepend: site.baseurl }}" alt="Rower oparty o stertę drzewa"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/11.jpg' | prepend: site.baseurl }}" title="Panorama z Kalwarii Pacławskiej"><img src="{{ '/assets/posts/2015-07-26/thumbnails/11.jpg' | prepend: site.baseurl }}"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/14.jpg' | prepend: site.baseurl }}" title="Zlot fanów Subaru w Arłamowie"><img src="{{ '/assets/posts/2015-07-26/thumbnails/14.jpg' | prepend: site.baseurl }}" alt="Zlot fanów Subaru w Arłamowie"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/15.jpg' | prepend: site.baseurl }}" title="Szyb kopalni ropy naftowej w Czarnej"><img src="{{ '/assets/posts/2015-07-26/thumbnails/15.jpg' | prepend: site.baseurl }}" alt="Szyb kopalni ropy naftowej w Czarnej"></a>
      </figure>
    </div>
    <div class="rt-gallery rt-gallery-horizontal">
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/17.jpg' | prepend: site.baseurl }}" title="Dział wodny Morza Bałtyckiego i Czarnego"><img src="{{ '/assets/posts/2015-07-26/thumbnails/17.jpg' | prepend: site.baseurl }}" alt="Dział wodny Morza Bałtyckiego i Czarnego"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/19.jpg' | prepend: site.baseurl }}" title="Jeden z zapomnianych szlaków"><img src="{{ '/assets/posts/2015-07-26/thumbnails/19.jpg' | prepend: site.baseurl }}" alt="Zapomniany szlak w Bieszczadach"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/20.jpg' | prepend: site.baseurl }}" title="Kemping nad Jeziorem Solińskim"><img src="{{ '/assets/posts/2015-07-26/thumbnails/29.jpg' | prepend: site.baseurl }}" alt="Kemping nad jeziorem Solińskim"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/21.jpg' | prepend: site.baseurl }}" title="Szlak wzdłuż Jeziora Solińskiego"><img src="{{ '/assets/posts/2015-07-26/thumbnails/21.jpg' | prepend: site.baseurl }}" alt="Szlak wzdłuż Jeziora Solińskiego"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/22.jpg' | prepend: site.baseurl }}" title="...częściowo służący jako dojazd do budowy"><img src="{{ '/assets/posts/2015-07-26/thumbnails/22.jpg' | prepend: site.baseurl }}" alt="Rozjeżdzona część szlaku wzdłuż Jeziora Solińskiego"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/23.jpg' | prepend: site.baseurl }}" title="Dalej szlakiem wzdłuż Jeziora Solińskiego"><img src="{{ '/assets/posts/2015-07-26/thumbnails/23.jpg' | prepend: site.baseurl }}" alt="Szlak wzdłuż Jeziora Solińskiego"></a>
      </figure>
    </div>
    <div class="rt-gallery rt-gallery-horizontal">
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/25.jpg' | prepend: site.baseurl }}" title="Szalony Iwan"><img src="{{ '/assets/posts/2015-07-26/thumbnails/25.jpg' | prepend: site.baseurl }}" alt="Szalony Iwan"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/26.jpg' | prepend: site.baseurl }}" title="Ziemianka w XXI wieku"><img src="{{ '/assets/posts/2015-07-26/thumbnails/26.jpg' | prepend: site.baseurl }}" alt="Ziemianka w XXI wieku"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/27.jpg' | prepend: site.baseurl }}" title="Jeden z wielu odremontowanych szlaków"><img src="{{ '/assets/posts/2015-07-26/thumbnails/27.jpg' | prepend: site.baseurl }}" alt="Odremontowany szlak w Bieszczadach"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/28.jpg' | prepend: site.baseurl }}" title="Chwila ochłody"><img src="{{ '/assets/posts/2015-07-26/thumbnails/28.jpg' | prepend: site.baseurl }}" alt="Nogi w rzece Wetlina"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/29.jpg' | prepend: site.baseurl }}" title="Kolejka wąskotorowa"><img src="{{ '/assets/posts/2015-07-26/thumbnails/29.jpg' | prepend: site.baseurl }}" alt="Kolejka wąskotorowa w Bieszczadach"></a>
      </figure>
    </div>
    <div class="rt-gallery rt-gallery-horizontal">
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/33.jpg' | prepend: site.baseurl }}" title="Szlak wzdłuż rzeki Solinka"><img src="{{ '/assets/posts/2015-07-26/thumbnails/33.jpg' | prepend: site.baseurl }}" alt="Szlak wzdłuż rzeki Solinka"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/40.jpg' | prepend: site.baseurl }}" title="Kolejna panorama"><img src="{{ '/assets/posts/2015-07-26/thumbnails/40.jpg' | prepend: site.baseurl }}" alt="Panorama Bieszczad"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/41.jpg' | prepend: site.baseurl }}" title="Przejście rzeczne. Stosunkowo częsty widok"><img src="{{ '/assets/posts/2015-07-26/thumbnails/41.jpg' | prepend: site.baseurl }}" alt="Przejście rzeczne w Bieszczadach"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/42.jpg' | prepend: site.baseurl }}" title="Cerkiew grekokatolicka. Sporo cerkwi w Bieszczadach służy dzisiaj jako kościoły katolickie"><img src="{{ '/assets/posts/2015-07-26/thumbnails/42.jpg' | prepend: site.baseurl }}" alt="Cerkiew grekokatolicka w Bieszczadach"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/43.jpg' | prepend: site.baseurl }}" title="Mistrzowsko ułożone drzewo"><img src="{{ '/assets/posts/2015-07-26/thumbnails/43.jpg' | prepend: site.baseurl }}" alt="Chata z ułożonym drzewem na ścianie"></a>
      </figure>
    </div>
    <div class="rt-gallery rt-gallery-horizontal">
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/46.jpg' | prepend: site.baseurl }}" title="Panoramy Bieszczad nigdy mi się nie znudzą"><img src="{{ '/assets/posts/2015-07-26/thumbnails/46.jpg' | prepend: site.baseurl }}" alt="Panorama Bieszczad"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/48.jpg' | prepend: site.baseurl }}" title="Pole namiotowe nad Jeziorem Klimkowskim"><img src="{{ '/assets/posts/2015-07-26/thumbnails/48.jpg' | prepend: site.baseurl }}" alt="Pole namiotowe nad Jeziorem Klimkowskim"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/50.jpg' | prepend: site.baseurl }}" title="Dworzec w Nowym Sączu"><img src="{{ '/assets/posts/2015-07-26/thumbnails/50.jpg' | prepend: site.baseurl }}" alt="Dworzec w Nowym Sączu"></a>
      </figure>
      <figure>
        <a data-gallery-item href="{{ '/assets/posts/2015-07-26/51.jpg' | prepend: site.baseurl }}" title="Powrót pociągiem z remontowanym odcinkiem obsługiwanym przez autobus. Biletów na rower nie sprzedajemy :)"><img src="{{ '/assets/posts/2015-07-26/thumbnails/51.jpg' | prepend: site.baseurl }}" alt="Spakowany rower przed pociągiem"></a>
      </figure>
    </div>
  </div>
</article>

<section class="row rt-content" id="mapa">
  <h2 class="medium-10 medium-offset-1 columns">Mapa <small>(<a href="{{ '/assets/posts/2015-07-26/gpx/bieszczady.gpx' | prepend: site.baseurl }}">GPX</a>)</small></h2>
  <iframe src="//ridewithgps.com/routes/9458658/embed" height="600" width="100%" frameborder="0"></iframe>
</section>

<section class="rt-content" id="komentarze">
  <div class="row">
    <div class="medium-10 medium-offset-1 columns">
      {% include social_buttons.html %}
      <h2>Komentarze</h2>
      {% include disqus.html %}
    </div>
  </div>
</section>
