$brand-primary: #1B9AF7;
$brand-primary-dark: darken($brand-primary, 20%);

$bg-secondary: #eee;
$bg-inverse: #2C2C2C;

$font-family-sans: 'Alegreya Sans', sans-serif;
$font-family-serif: 'PT Serif', serif;
$font-color-base: #404040;
$font-size-enormous: 46px;
$font-size-huge: 36px;
$font-size-large: 24px;
$font-size-base: 20px;

$breakpoint-sm: 640px;
$breakpoint-md: 960px;
$breakpoint-lg: 1200px;

$content-width: 740px;
$content-width-wider: 900px;
$content-width-widest: 1100px;
