---
layout: trip
title: "Beskid Mały na rowerze"
subtitle: "Krótka wycieczka, start z Andrychowa, meta w Porąbce"
description: "Krótka wycieczka rowerowa po Beskidzie Małym (Niskim). Start z Andrychowa, meta w Porąbce. Prowadzi przez Groń Jana Pawła II, Leskowiec i Kocierz."
date: 2014-09-07 00:00:00
cover: "/assets/posts/2014-09-07/cover.jpg"
thumbnail: "/assets/posts/2014-09-07/thumbnail.jpg"
excerpt: "Beskid mały to nieduże pasmo rozciągające się od Wadowic po Bielsko-Białą. Idealnie sprawdza się jako baza pod jednodniowe wycieczki. Moim celem była Groń Jana Pawła II. Znajduje się tam kaplica i tron, na którym papież zasiadał podczas jednej ze swoich pielgrzymek."
permalink: "/trasy/beskid-maly-na-rowerze/"
---

<img class="cover" src="{{ '/assets/posts/2014-09-07/P9071976.jpg' | prepend: site.baseurl }}" alt="Zielony szlak z Kocierza do Porąbki">

<article class="rt-trip">
  <div class="row">
    <div class="medium-8 medium-offset-2 columns">
      {% include social_buttons.html %}
      <time>2014-09-07</time>
      <h1 class="rt-trip-title">{{ page.title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="medium-8 medium-offset-2 columns">
      <p>Beskid mały to nieduże pasmo rozciągające się od Wadowic po Bielsko-Białą. Idealnie sprawdza się jako baza pod jednodniowe wycieczki rowerowe.</p>

      <p>Moim celem była Groń Jana Pawła II. Znajduje się tam kaplica i tron, na którym papież zasiadał podczas jednej ze swoich pielgrzymek.</p>

      <h3>Nawierzchnia</h3>
      <p>Szlaki prowadzą lasami, głównie ubitą ziemią z kamieniami, momentami luźnymi, z wyżłobieniami po spływającej wodzie.</p>

      <h3>Trudności</h3>
      <p>Wzgórze wznosi się stosunkowo łagodnie, mimo to warto mieć na uwadze, że wszystkie szlaki w Beskidzie Małym są kierowane dla pieszych turystów. Znajdzie się kilka krótkich, ale stromych odcinków, gdzie mniej wprawieni zejdą z rowera.</p>

      <p>Trasę pokonywałem we wrześniową niedzielę. Wzmożony ruch na szlakach może stanowić problem pomiędzy Wadowicami i schroniskiem na Leskowcu. Od strony Andrychowa i w kierunku Kocierza bardzo spokojnie. Spacerujące osoby byłem w stanie policzyć na palcach.</p>

      <h3>Dostęp do cywilizacji</h3>
      <p>Na trasie znajduje się schronisko na Leskowcu i duży ośrodek Kocierz - w obu można liczyć na obiad. Pod Potrójną stoi chatka studencka.</p>

      <h3>Warto rozważyć</h3>
      <p>Zdecydowałem się zjechać bezpośrednio z Kocierza do Porąbki ze względu na 30km asfaltu, które dzieliły mnie od domu. Polecam wydłużyć trasę na Żar i w stronę ikony PRL-u - ośrodka wczasowego <a href="http://pl.wikipedia.org/wiki/Zesp%C3%B3%C5%82_Dom%C3%B3w_Wypoczynkowo_Szkoleniowych_HPR_Por%C4%85bka-Kozubnik">Kozubnik</a>. Jeżeli masz więcej czasu wycieczkę można zakończyć w Bielsku-Białej zdobywając po drodze Magurkę.</p>
    </div>

    <figure class="rt-gallery rt-gallery-single">
      <img src="{{ '/assets/posts/2014-09-07/P9071961.jpg' | prepend: site.baseurl }}" alt="Kaplica na Groni Jana Pawła II">
      <figcaption>Kaplica na Groni Jana Pawła II</figcaption>
    </figure>

    <div class="rt-gallery rt-gallery-horizontal">
      <figure>
        <img src="{{ '/assets/posts/2014-09-07/P9071958.jpg' | prepend: site.baseurl }}" alt="Beskid Mały szlak zielony">
      </figure>
      <figure>
        <img src="{{ '/assets/posts/2014-09-07/P9071964.jpg' | prepend: site.baseurl }}" alt="Beskid Niski szlak zielony">
      </figure>
    </div>

    <figure class="rt-gallery rt-gallery-single">
      <img src="{{ '/assets/posts/2014-09-07/P9071969.jpg' | prepend: site.baseurl }}" alt="Wyciąg w Rzykach w lecie">
      <figcaption>Ulubiony wyciąg ekologów w Rzykach. Od kilku dobrych lat blokują jego uruchomienie.</figcaption>
    </figure>

    <div class="rt-gallery rt-gallery-horizontal">
      <figure>
        <img src="{{ '/assets/posts/2014-09-07/P9071967.jpg' | prepend: site.baseurl }}" alt="Beskid Mały szlak czerwony">
      </figure>
      <figure>
        <img src="{{ '/assets/posts/2014-09-07/P9071972.jpg' | prepend: site.baseurl }}" alt="Beskid Mały szlak zielony">
      </figure>
    </div>
  </div>
</article>

<section class="row rt-content">
  <h2 class="medium-10 medium-offset-1 columns">Mapa <small>(<a href="{{ '/assets/posts/2014-09-07/gpx/kandrychow-kocierz-porabka.gpx' | prepend: site.baseurl }}">GPX</a>)</small></h2>
  <iframe src="//ridewithgps.com/routes/5976216/embed" height="600" width="100%" frameborder="0"></iframe>
</section>

<section class="rt-content" id="komentarze">
  <div class="row">
    <div class="medium-10 medium-offset-1 columns">
      {% include social_buttons.html %}
      <h2>Komentarze</h2>
      {% include disqus.html %}
    </div>
  </div>
</section>
