---
layout: trip
title: "Telefon na rowerze. Finn - test długodystansowy"
subtitle: "Test prostego uchwytu na telefon"
description: "Uchwyt na rower, który pasuje do większości smarfonów, każdej kierownicy, mieści się w kieszeni i nie rujnuje portfela."
date: 2014-09-24 00:00:00
cover: "/assets/posts/2014-09-24/cover.jpg"
thumbnail: "/assets/posts/2014-09-24/thumbnail.jpg"
excerpt: "Najlepsze rozwiązania cechuje prostota. Finn to uchwyt, który pozwala bez obaw jeździć z telefonem na rowerze. Pasuje do większości smartfonów, każdej kierownicy, waży kilkanaście gramów i mieści się w kieszeni."
permalink: "/sprzet/finn-telefon-na-rowerze/"
---

<img class="cover" src="{{ '/assets/posts/2014-09-24/P9232041.jpg' | prepend: site.baseurl }}" alt="Kokpit roweru z uchwytem na telefon Finn">

<article class="rt-trip">
  <div class="row">
    <div class="medium-8 medium-offset-2 columns">
      {% include social_buttons.html %}
      <time>2014-09-24</time>
      <h1 class="rt-trip-title">{{ page.title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="medium-8 medium-offset-2 columns">
      <p>Najlepsze rozwiązania cechuje prostota. Finn to uchwyt, który pozwala bez obaw jeździć z telefonem na rowerze. Pasuje do większości smartfonów, każdej kierownicy, waży kilkanaście gramów i mieści się w kieszeni.</p>

      <p>Nie trzeba inwestować w Garmina, aby korzystać z nawigacji, nagrywać trasy do GPX, czy generować wykresy wzniesień. Równie dobrze poradzi sobie z tym smartfon. Pozwoli nawet na więcej. Strava, Endomondo i RideWithGPS to tylko czubek góry lodowej.

      <h2>Montaż</h2>
      <p>Finn to majstersztyk pod względem montażu. Sam w sobie jest oparciem i amortyzacją dla telefonu. Dopóki nie próbujesz zamontować tabletu, rozmiary nie mają znaczenia. Nie ma żadnych ukrytych sztuczek. Możesz go nawet używać na wypożyczonych rowerach. Cała operacja nie zajmuje dłużej niż kilkanaście sekund.</p>
    </div>
  </div>


  <div class="row">
    <div class="medium-10 medium-offset-1 columns">
      <div class="flex-video widescreen">
        <iframe width="420" height="315" src="//www.youtube.com/embed/1iDAz6miZRQ" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="medium-8 medium-offset-2 columns">
      <h2>Zmęczenie materiału po 1500km</h2>
      <p>50zł za kawałek sylikonu z Austrii nie brzmi jak okazja stulecia. Największe obawy wzbudzała we mnie trwałość materiału i pewność uchwytu. Tutaj zostałem pozytywnie zaskoczony. Ani razu nie przeszło mi przez myśl, aby telefon mógłby wypaść podczas jazdy. Nie było też tak, że traktowałem Finn-a ulgowo. Widział wiele zjazdów, zarówno w terenie, jak i na asfalcie. Przeżyłem z nim kilka wywrotek, ale telefon zawsze był na kierownicy, niezależnie od tego co się działo ze mną, czy rowerem.</p>

      <p>Materiał jest bardzo dobrej jakości. Po pół roku i kilkudziesięciu, jak nie kilkuset założeniach, nic się z nim nie dzieje. Nie widzę żadnych pęknięć, które mogłyby prowadzić do czegoś poważniejszego. Warunki atmosferyczne też mu nie straszne. Nie jeździłem z nim jedynie na mrozie, ale w tym przypadku bardziej obawiałbym się o telefon - w końcu nie bez powodu zalecana temperatura działania zaczyna się od 0.</p>
    </div>
  </div>

  <div class="row">
    <div class="medium-10 medium-offset-1 columns">
      <figure class="rt-gallery rt-gallery-single">
        <img src="{{ '/assets/posts/2014-09-24/P9232054.jpg' | prepend: site.baseurl }}" alt="Finn - uchwyt na rower, widok od spodu">
      </figure>
    </div>
  </div>

  <div class="row">
    <div class="medium-8 medium-offset-2 columns">
      <h2>Wady</h2>
      <p>Wady Finn-a wynikają z samej konstrukcji. O ochronę telefonu trzeba zatroszczyć się samemu. Przy agresywnej jeździe różne rzeczy latają w powietrzu. Podczas deszczu z nieba leje się woda, a przy wywrotce nikt nie panuje nad rowerem. Rozwiązaniem jest albo telefon, który to przetrwa, albo dodatkowa obudowa.</p>

      <p>Inna sprawa to sposób montażu, który wymusza zaczepienie ramion o ekran. Zdarza im się, że przysłaniają część interfejsu. Mogą również nachodzić na czujnik zbliżeniowy i tak, chcąc porozmawiać na głośnomówiącym, telefon czasami wie lepiej, że znajduje się przy twarzy i wyłącza ekran. Paniczne próby przesuwaniem uchwytów rzadko zdają rezultat. Zazwyczaj cała sytuacja kończy się zdjęciem telefonu, albo gadaniem z kierownicą.</p>

      <h2>W zestawie</h2>
      <p>Oprócz uchwytu w zestawie otrzymujemy €4,49 do wykorzystania w <a href="http://www.bikecityguide.org/">Bike City Guide</a>. Na dzień dzisiejszy działa tylko w Szczecinie, Trójmieście i Warszawie (oraz w innych europejskich miastach). Nawigacja zorientowana na rower wydaje się ciekawym pomysłem. Osobiście nie mam możliwości jej sprawdzenia, ale jeżeli mieszkasz w jednym ze wspieranych miejsc - daj mi znać, oddam kupon.</p>
    </div>
  </div>

  <div class="row">
    <div class="medium-10 medium-offset-1 columns">
      <figure class="rt-gallery rt-gallery-single">
        <img src="{{ '/assets/posts/2014-09-24/quadlock.jpg' | prepend: site.baseurl }}" alt="Uchwyt na rower Quad Lock">
      </figure>
    </div>
  </div>

  <div class="row">
    <div class="medium-8 medium-offset-2 columns">
      <h2>Konkurencja i podsumowanie</h2>
      <p>Inny uchwyt godny uwagi to <a href="http://www.quadlockcase.com">Quad Lock</a>. Posiada system montażu doskonale znany z liczników rowerowych. Niestety wymaga specjalnej obudowy lub przyklejonych na stałe prowadnic. Różnica w cenie jest ogromna, ale dodatkowe uchwyty (do samochodu, na statyw...) są przekonywujące.</p>

      <p>Natomiast Finn po prostu działa. Jeżeli chcesz mieć telefon na kierownicy bez zbędnych ceregieli, do jazdy po mieście lub długie wyprawy - nie znajdziesz niczego lepszego w podobnej cenie. Dostępny jest z darmową wysyłką do Polski za €12 na <a href="http://getfinn.com/pl/">getfinn.com/pl/</a></p>
    </div>
  </div>
</article>

<section class="rt-content" id="komentarze">
  <div class="row">
    <div class="medium-10 medium-offset-1 columns">
      {% include social_buttons.html %}
      <h2>Komentarze</h2>
      {% include disqus.html %}
    </div>
  </div>
</section>
