---
permalink: /2016-wlochy/
layout: post
title: Rowerem na południe Europy
cover: https://c2.staticflickr.com/6/5153/29865134351_5a8015b2b8_b.jpg
subtitle: Wyprawa rowerowa do Włoch przez Austrię i Słowenię
excerpt: Na przełomie sierpnia i września odbyłem swoją pierwszą zagraniczną wyprawę rowerową. Pierwony cel był dość ambitny, dojechać na Maltę z Polski.
---
<div class="jumbotron jumbotron--page-entry">
  <div class="jumbotron__overlay">
    <div class="content">
      <h1 class="jumbotron__title">{{ page.title }}</h1>
      <div class="jumbotron__subtitle-spacer"></div>
      <h2 class="jumbotron__subtitle">{{ page.subtitle }}</h2>
    </div>
  </div>
  <video src="https://www.flickr.com/photos/aqum/30919556615/play/hd/708e941c59/"
         poster="https://c2.staticflickr.com/6/5780/30618659170_5808963b67_b.jpg"
         class="jumbotron__media"
         autoplay
         loop>
  </video>
</div>

<div class="content">
  {% include social_buttons.html %}
</div>

<div class="content">
  <p class="content__text content__text--with-initial">
    Na przełomie sierpnia i września odbyłem swoją pierwszą zagraniczną wyprawę rowerową. Pierwony cel był dość ambitny, dojechać na Maltę z Polski. Miałem jednak równo miesiąc czasu do dyspozycji, co oznaczałoby ciągłe patrzenie w licznik i kalendarz. Mi natomiast zależało na tym, aby pojechać bardziej turystycznie, zatrzymywać się w ciekawych miejscach i nawiązywać znajomości. Ostatecznie pociągiem dotarłem do Wiednia, a lot powrotny zabukowałem z Katanii na Sycylii.
  </p>
</div>

<div class="content-spacer">
  <div class="content--widest content">
    <div class="ratio-16-9">
      <iframe src="https://www.youtube.com/embed/4VGpeWC8KMU"
              frameborder="0"
              allowfullscreen
              class="ratio-16-9__inner">
      </iframe>
    </div>
  </div>

  <div class="showcase content">
    <a class="showcase__item showcase-overlay"
       href="https://drive.google.com/open?id=1XskaMXNwk3gzIUBoc158lAugdb8&usp=sharing">
      <div class="showcase-overlay__content">
        <div class="showcase-overlay__icon">
          {% include icons/place.svg %}
        </div>
        <div class="showcase-overlay__title">
          Mapa
        </div>
      </div>
      <img src="https://farm6.staticflickr.com/5557/30844190671_4f248b99dd_o.jpg"
           class="showcase-overlay__bg"
           alt="Mapa wyprawy">
    </a>
    <a class="showcase__item showcase-overlay"
       href="http://wlochyrowerem.tumblr.com/archive">
      <div class="showcase-overlay__content">
        <div class="showcase-overlay__icon">
          {% include icons/calendar.svg %}
        </div>
        <div class="showcase-overlay__title">
          Blog dzień po dniu
        </div>
      </div>
      <img src="https://farm6.staticflickr.com/5229/29948270245_fa352d99b1_z.jpg"
           alt="Rower wyprawowy"
           class="showcase-overlay__bg">
    </a>
  </div>
</div>

<div class="content">
  <p class="content__text">
    Wszystko zaczęło się kilka miesięcy wcześniej, gdy poprosiłem o miesiąc urlopu. Byłem też na dobrej drodze, aby pozdawać wszystkie egzaminy w pierwszych terminach. Studiuję zaocznie i sesja przedłuża się do połowy lipca. Bez tego wyprawa nie doszłaby do skutku. Rower natomiast złożyłem dużo wcześniej i przetestowałem go na dwóch 3-dniowych wypadach (<a href="https://www.flickr.com/photos/aqum/albums/72157668752026346">Greenvelo</a> i <a href="https://www.flickr.com/photos/aqum/sets/72157671546939476">Jura</a>).
  </p>
  <p class="content__text">
    Powoli dopinałem formalności, ubezpieczenia, EKUZ, lot powrotny. Szukałem też towarzysza drogi, ale na koniec nikt na poważnie nie był zainteresowany i zdecydowałem się na jazdę w pojedynkę. Wcześniej zrobiłem listę ekwipunku, skompletowałem trasy szlaków oraz przeczytałem dziesiątki relacji. Mimo to, im bliżej daty wyjazdu, tym bardziej udzielała mi się ekscytacja połączona ze stresem. Dopiero po wyjściu z pociągu w Wiedniu ten drugi gdzieś zniknął. Nie było już odwrotu, trzeba jechać, świat czeka, aby go zobaczyć.
  </p>
</div>

<div class="jumbotron">
  <div class="jumbotron__overlay jumbotron__overlay--top">
    <div class="content">
      <h2 class="jumbotron__title">Austria</h2>
      <div class="jumbotron__subtitle-spacer"></div>
      <h3 class="jumbotron__subtitle">Trudne początki</h3>
    </div>
  </div>
  <img src="https://c2.staticflickr.com/6/5632/30972393176_7bd6808803_k.jpg"
       alt="Panorama gór w Austrii"
       class="jumbotron__media">
</div>

<div class="content">
  <p class="content__text">
    Złożenie roweru na dworcu zajęło mi chwilę. Pociągi międzynarodowe niestety nie mają specjalnych miejsc do przewozu rowerów. Szukam bankomatu, karta działa, uff. Była niedziela, sklepy zamknięte. W centrum miasta ludzi można policzyć na palcach jednej ręki. Całe szczęście zabrałem nieco więcej prowiantu na start. Pokręciłem się po stolicy Austrii, zobaczyłem główne zabytki. Przynajmniej od zewnątrz. Jak tylko zbliżałem się do bramy ogrodów pałacowych zostałem odprowadzony wzrokiem przez ochronę zanim zobaczyłem zakaz rowerów. Nie pozostało mi nic innego jak znaleźć szlak i obrać kierunek na Włochy. Nie chciałem nocować w Wiedniu.
  </p>

  <figure class="pull-out pull-out--left">
    <a href="https://www.flickr.com/photos/aqum/29864880031/in/album-72157673197696092/">
      <img src="https://c2.staticflickr.com/8/7774/29864880031_cf2ee90a0d_z.jpg"
           data-src-expanded="https://c2.staticflickr.com/8/7774/29864880031_cf2ee90a0d_b.jpg"
           alt="Most dla rowerów na trasie Eurovelo 8 w Austrii"
           class="pull-out__img">
    </a>
    <figcaption class="pull-out__caption">Infrastruktura rowera w Austrii jest bardzo dobrze rozwinięta</figcaption>
  </figure>

  <p class="content__text">
    Jeszcze chwilę o samym szlaku. W Europie istnieje sieć długodystansowych tras rowerowych <a href="http://www.eurovelo.com/en/eurovelos">Eurovelo</a>. Do Adriatyku prowadzi Eurovelo 9, którego budowa na odcinku w Austrii została ukończona. Mówimy tutaj nie tylko o oznakowaniu. Szlak poprowadzony jest specjalnie wyznaczonymi ścieżkami, gdzie samochody najczęściej mają zakaz wjazdu. Często zdarzało mi się mijać bary dla rowerzystów. Przy dobrej pogodzie sporo osób spędza wolny czas na dwóch kółkach.
  </p>

  <figure class="pull-out pull-out--right">
    <a href="https://www.flickr.com/photos/aqum/29321639613/in/album-72157673197696092/">
      <img src="https://c2.staticflickr.com/6/5173/29321639613_a65de4e885_z.jpg"
           data-src-expanded="https://c2.staticflickr.com/6/5173/29321639613_a65de4e885_b.jpg"
           alt="Płomień w kuchence zrobionej z puszki po piwie"
           class="pull-out__img">
    </a>
    <figcaption class="pull-out__caption">Moja improwizowana kuchenka na alkohol</figcaption>
  </figure>

  <p class="content__text">
    Za to pogoda w Austrii to całkowita loteria. Jeden dzień świeci słońce, drugi pada, trzeci pochmurnie i tak w kółko. Nie planowałem jazdy w deszczu i już na drugi dzień zmuszony byłem znaleźć pokój, przeczekać chwilę i wysuszyć ubrania. Okazało się również, że nie zabrałem ze sobą palnika do kartusza gazowego. Próbowałem swoich sił w sklepach. Znalazłem całe działy ze sprzętem biwakowym. Nigdzie jednak nie było nakręcanego palnika, który potrzebowałem. Zawiedzony, byłem o krok od kupienia całego zestawu z nabijanym kartuszem. Nie można go później zdjęć, jeżeli chce się go przewozić w sakwach. To dużo komplikuje.
  </p>
  <p class="content__text">
    Była jeszcze opcja B. Przed wyjazdem testowałem wynalazek z puszki. Wystarczy ją odpowiednio ponacinać, wsunąć dwie końcówki i mamy kuchenkę na alkohol. Nie jest to liga palnika gazowego, ale wystarczyło do zagotowania wody na makaron, czy usmażenia jajecznicy. Przy tym nic nie kosztuje, niewiele waży, a gdy się zepsuje można złożyć nową.
  </p>
</div>

<div class="jumbotron">
  <div class="jumbotron__overlay jumbotron__overlay--top">
    <div class="content">
      <h2 class="jumbotron__title">Słowenia</h2>
      <div class="jumbotron__subtitle-spacer"></div>
      <h3 class="jumbotron__subtitle">Nie daj się zwieźć pierwszym wrażeniom</h3>
    </div>
  </div>
  <img src="https://c2.staticflickr.com/6/5767/31108978485_f7ac3e6ae1_k.jpg"
       alt="Panorama stolicy Słowenii - Ljubljana"
       class="jumbotron__media">
</div>

<div class="content">
  <figure class="pull-out pull-out--left">
    <a href="https://www.flickr.com/photos/aqum/29834102012/in/album-72157673197696092/">
      <img src="https://c1.staticflickr.com/9/8410/29834102012_ce63628416_z.jpg"
           data-src-expanded="https://c1.staticflickr.com/9/8410/29834102012_ce63628416_b.jpg"
           alt="Leśna droga w Słowenii"
           class="pull-out__img">
    </a>
    <figcaption class="pull-out__caption">Drogi w Słowenii mają swój urok</figcaption>
  </figure>

  <p class="content__text">
    Przed wjazdem do Słowenii zupełnie nie wiedziałem czego się spodziewać. Zdawałem sobie tylko sprawę, jak bardzo młode państwo. Niepodległość ogłosili dopiero w 1991 roku na początku rozpadu Jugosławii. Dzisiaj płacą w Euro, są członkiem UE i strefy Shengen, tak samo jak Austria i Włochy. To mi wystarczyło do zaplanowania trasy. Nie potrzebowałem paszportu, a moja karta w Euro powinna działać i tutaj. Przejazd przez granicę był nieco szokiem. Przywitało mnie bowiem wielkie, opuszczone przejście, a szlak długo ciągnął się po ruchliwej drodze. Nie pomógł też fakt, że w mieście Maribor poprosiłem o tradycyjne danie i dostałem kiełbasę nie do przełknięcia. Według kucharza wszystko było w porządku.
  </p>

  <figure class="pull-out pull-out--right">
    <a href="https://www.flickr.com/photos/aqum/29654240810/in/album-72157673197696092/">
      <img src="https://c1.staticflickr.com/9/8727/29654240810_b1a8529b33_z.jpg"
           data-src-expanded="https://c1.staticflickr.com/9/8727/29654240810_b1a8529b33_b.jpg"
           alt="Festiwal kuchnii w Ljubjanie"
           class="pull-out__img">
    </a>
    <figcaption class="pull-out__caption">Festiwal kuchni w Ljubjanie</figcaption>
  </figure>

  <p class="content__text">
    Słowenia mimo to bardzo chciała się zregenerować za moje nieprzyjemności. Trasa stawała się coraz lepsza i nawet dałem się namówić na drugą szansę dla tradycyjnej kiełbasy. Było warto, ale możliwe, że przez to mój żołądek później toczył ze mną wojnę domową. Było tak źle, że 30km przed Ljublaną (stolicą Słowenii) złapałem pociąg i poświęciłem dodatkowy dzień na regenereację.
  </p>
  <p class="content__text">
    Za to Ljubljana okazała się świetnym miastem, pełnym bardzo pozytywnych ludzi. Ciężko było się żegnać, ale morze tuż za górami.
  </p>
</div>

<div class="jumbotron">
  <div class="jumbotron__overlay jumbotron__overlay--top">
    <div class="content">
      <h2 class="jumbotron__title">Włochy</h2>
      <div class="jumbotron__subtitle-spacer"></div>
      <h3 class="jumbotron__subtitle">Tutaj zaczyna się wyprawa</h3>
    </div>
  </div>
  <img src="https://c2.staticflickr.com/6/5651/30966708812_9ad332d71f_k.jpg"
       alt="Panorama gór w Austrii"
       class="jumbotron__media">
</div>

<div class="content">
  <figure class="pull-out pull-out--left">
    <a href="https://www.flickr.com/photos/aqum/29654401000/in/album-72157673197696092/">
      <img src="https://c2.staticflickr.com/6/5763/29654401000_75dfb4325e_z.jpg"
           data-src-expanded="https://c2.staticflickr.com/6/5763/29654401000_75dfb4325e_b.jpg"
           alt="Miasto Triest na tle Adriatyku"
           class="pull-out__img">
    </a>
    <figcaption class="pull-out__caption">Pierwszy widok na morze</figcaption>
  </figure>

  <p class="content__text">
    Wjeżdżam do Włoch. Cały czas z górki. Morze widać z daleka na horyzoncie. Zanim jeszcze dotarłem do wybrzeża poczułem, że coś jest nie tak. Chaos. Ciężko opisać specyfikę włoskiego ruchu drogowego. Jazda na zapałkę, wszechobecne skutery, klakson używany do wszystkiego... Trzeba jednak przyznać, to działa i nikt tutaj nie widzi potrzeby zmian.
  </p>

  <figure class="pull-out pull-out--right">
    <a href="https://www.flickr.com/photos/aqum/29321686663/in/album-72157673197696092/">
      <img src="https://c1.staticflickr.com/9/8705/29321686663_36af3a08ab_z.jpg"
           data-src-expanded="https://c1.staticflickr.com/9/8705/29321686663_36af3a08ab_b.jpg"
           alt="Promy w Wenecji"
           class="pull-out__img">
    </a>
    <figcaption class="pull-out__caption">Promy to jedyny publiczny i przy tym niezawodny środek transportu w Wenecji</figcaption>
  </figure>

  <p class="content__text">
    Pierwsze kilometry wgłąb kraju to głównie rejony rolnicze. Dużo sztucznie nawadnianych pól i laguna, która utrudnia jazdę wzdłuż wybrzeża. Dotarłem za to do jednego miasta, w którym obowiązuje zakaz wprowadzania rowerów, nie mówiąc nawet o jeździe. Wenecja. Aby się tam dostać musiałem złapać prom. Nie było to jednak takie proste. Nikt nie chciał zabrać mojego roweru do miasta. Nawet mimo moich najszczerszych zapewnień, że zaraz pod dworcem kolejowym go zostawię. Dopiero miła pani wytłumaczyła mi, że rower mogę przewieźć na drugą wyspę i dopiero z niej innym promem udać się do Wenecji. Moje obawy podczas jego przypinania były ogromne. Zrobiłem nawet <a href="https://www.flickr.com/photos/aqum/29864942571/in/album-72157673197696092/">zdjęcie</a>, aby pokazać policji, gdybym go już nie zastał. Zabrałem co cenniejsze rzeczy i niemal cały dzień spędziłem chodząc po mostach miasta na wodzie.
  </p>

  <figure class="pull-out pull-out--left">
    <a href="https://www.flickr.com/photos/aqum/29948063415/in/album-72157673197696092/">
      <img src="https://c2.staticflickr.com/6/5072/29948063415_a3f8985a11_z.jpg"
           data-src-expanded="https://c2.staticflickr.com/6/5072/29948063415_a3f8985a11_b.jpg"
           alt="Jezioro Suviana w Apeninach"
           class="pull-out__img">
    </a>
    <figcaption class="pull-out__caption">Biwak nad jeziorem w górach to miła odmiana</figcaption>
  </figure>

  <p class="content__text">
    Temperatury powyżej 30 stopni nie są tutaj niczym specjalnym. Przyzwyczaiłem się do niech całkiem szybko, ale wystarczy się zatrzymać, aby oblać się potem. W trakcie jazdy wiatr chłodził organizm i nie sprawiało to problemów. Miłą odmianą był przejazd przez Apeniny i biwak nad jeziorem Suviana. Doliny zapewniały cień i podjazdy nie były tak straszne w tym upale. Za to relaks w jeziorze po całym dniu - nie do opisania.
  </p>

  <figure class="pull-out pull-out--right">
    <a href="https://www.flickr.com/photos/aqum/29654264270/in/album-72157673197696092/">
      <img src="https://c1.staticflickr.com/9/8377/29654264270_a6e1056fd6_z.jpg"
           data-src-expanded="https://c1.staticflickr.com/9/8377/29654264270_a6e1056fd6_b.jpg"
           alt="Budynki mieszkalne w Rzymie"
           class="pull-out__img">
    </a>
    <figcaption class="pull-out__caption">Porównując z innymi włoskimi miastami w Rzymie jest wyjątkowo dużo zieleni</figcaption>
  </figure>

  <p class="content__text">
    Do Rzymu dotarłem pociągiem z Perugii. Zyskałem przy tym 2 dni drogi. Wygospodarowałem też dzień przerwy na zobaczenie miasta. Pewnie nie będzie zaskoczeniem gdy powiem, że największe wrażenie zrobiła na mnie Bazylika Św. Piotra. Wielkość świątyni była wręcz przytłaczająca. Rzym także nieco odstaje od innych włoskich miast, które odwiedziłem. Bolonia, Florencja, Neapol, Katania - nie wydają się przyjazne do życia. Odrzucał mnie wszechobecny kamień i bardzo mała ilość zieleni. To tylko potęguje upały. Rzym w tym względzie się wyróżniał. Bardzo często mijałem skwery, gdzie można usiąść i odpocząć w cieniu drzew. Chaos na ulicach także wydawał się mniejszy.
  </p>

  <figure class="pull-out pull-out--left">
    <a href="https://www.flickr.com/photos/aqum/29948203325/in/album-72157673197696092/">
      <img src="https://c1.staticflickr.com/9/8332/29948203325_1fce817646_z.jpg"
           data-src-expanded="https://c1.staticflickr.com/9/8332/29948203325_1fce817646_b.jpg"
           alt="Droga nad włoskim wybrzerzem"
           class="pull-out__img">
    </a>
    <figcaption class="pull-out__caption">Najbardziej widowiskowa droga na trasie (Sorento - Positano - Salerno)</figcaption>
  </figure>

  <p class="content__text">
    Jeżeli miałbym wybrać najbardziej zjawiskową drogę na całej trasie - na pewno będzie to połączenie z Sorento przez Positano do Salerno. Wije się skalistymi brzegami przez miejscowości, które jeszcze kilkadziesiąt lat temu były dostępne tylko od strony morza. Widoki niesamowite na tle kolorowych kaskadowych zabudowań. Ilość turystów na pewno może wszystko wywrócić do góry nogami, ale pod koniec sezonu z początkiem września było całkiem spokojnie.
  </p>

  <figure class="pull-out pull-out--right">
    <a href="https://www.flickr.com/photos/aqum/29914204126/in/album-72157673197696092/">
      <img src="https://c1.staticflickr.com/9/8253/29914204126_f87491ff29_z.jpg"
           data-src-expanded="https://c1.staticflickr.com/9/8253/29914204126_f87491ff29_b.jpg"
           alt="Franco, Ania i ja"
           class="pull-out__img">
    </a>
    <figcaption class="pull-out__caption">Franco, Ania i ja</figcaption>
  </figure>

  <p class="content__text">
    Podczas wyprawy najwięcej znajomości zawarłem w hostelach. Próbówałem też korzystać z couchsurfingu dla rowerzystów - warmshowers. Ciężko było mi jednak przewidzieć, gdzie się zatrzymam za 3 dni, albo czy uda mi się zrobić zakładany dystans. Niestety ani razu nie udało mi się złapać hosta.
  </p>

  <figure class="pull-out pull-out--left">
    <a href="https://www.flickr.com/photos/aqum/29834417812/in/album-72157673197696092/">
      <img src="https://c1.staticflickr.com/9/8127/29834417812_72b33366ec_z.jpg"
           data-src-expanded="https://c1.staticflickr.com/9/8127/29834417812_72b33366ec_b.jpg"
           alt="Portret razem z kolarzami niedaleko Messiny"
           class="pull-out__img">
    </a>
    <figcaption class="pull-out__caption">Kolarze, którzy zatrzymali mnie niedaleko Messiny</figcaption>
  </figure>

  <p class="content__text">
    Była za to jedna sytuacja, którą będę długo wspominał. Wjeżdżam sobie do małego miasteczka, rozsiadam się przy plaży, jem popołudniowe owocowe przekąski i poświęcam chwilę na czytanie książki. Zleciała dłuższa chwila i dobrze byłoby zacząć szukać miejsca na biwak. Zagaduje do mnie pan, bo akurat wyjeżdżając wybrałem najbardziej stromą drogę w całym miasteczku. Rozmawiamy po angielsku, co już jest dla mnie nowością. Bardzo mało Włochów mówi w tym języku. Oczywiście pyta skąd jestem. Ja z dumą - Polonia, a on na to że zna Polkę mieszkającą tutaj niedaleko. Żeby było ciekawiej Ania w tym samym momencie przyjechała do niego odebrać rzeczy.
  </p>

  <p class="content__text">
    Otrzymałem solidny posiłek i wygodne łóżko, za co jestem niesamowicie wdzięczny. Rozmawialiśmy na bardzo różne tematy i możliwe, że Ania wróci z mężem i synem do Polski. Będzie to już ponad 20 lat jak tam mieszka. Za to pan, który mnie zagadał nazywa się Franco. Angielskiego nauczył się podczas pobytu w Ameryce, a teraz zajmuje się sprzedażą nieruchomości we Włoszech. Tak więc jeżeli szukasz domu z widokiem na morze - napisz do mnie, a zobaczymy co da się zrobić :)
  </p>

  <figure class="pull-out pull-out--right">
    <a href="https://www.flickr.com/photos/aqum/29914349336/in/album-72157673197696092/">
      <img src="https://c1.staticflickr.com/9/8445/29914349336_4d8a2e92d5_z.jpg"
           data-src-expanded="https://c1.staticflickr.com/9/8445/29914349336_4d8a2e92d5_b.jpg"
           alt="Wystający dach domu spod zastygniętej lawy na zboczu góry Etna"
           class="pull-out__img">
    </a>
    <figcaption class="pull-out__caption">Dach domu pochłoniętego przez lawę</figcaption>
  </figure>

  <p class="content__text">
    Ostatni dzień mogłem spędzić na plaży, ale postanowiłem skorzystać z okazji i wyjechałem na aktywny wulkan Etna. Nie zdecydowałem się jednak na zobaczenie krateru. Został do przejechania odcinek kolejką i kawałek marszu. Nie byłem na to przygotowany. Na 2 tys. metrów już robiło się zimno, a krater jest na ponad 3 tys. Kto by pomyślał, mogłem zabrać kurtkę, nie wspominając o wysokich butach.
  </p>

  <figure class="pull-out pull-out--left">
    <a href="https://www.flickr.com/photos/aqum/29321577333/in/album-72157673197696092/">
      <img src="https://c2.staticflickr.com/6/5127/29321577333_616048b9b1_z.jpg"
           data-src-expanded="https://c2.staticflickr.com/6/5127/29321577333_616048b9b1_b.jpg"
           alt="Widok z okna samolotu"
           class="pull-out__img">
    </a>
    <figcaption class="pull-out__caption">Miesiąc jazdy rowerem - powrót w 2,5h</figcaption>
  </figure>

  <p class="content__text">
    Po powrocie do Polski miałem kalejdoskop uczuć. Jeszcze cały dzień chodziłem z uśmiechem od ucha do ucha. Bardzo się cieszyłem, że już jestem w kraju, a mimo to chętnie spędziłbym kolejny tydzień na Sycylii. Miesiąc samotnej podróży dużo mnie nauczył. Od znajomego usłyszałem, że Polskę docenia się dopiero po wyjeździe na dłuższy czas. Coś w tym jest.
  </p>
</div>

<div class="jumbotron clearfix">
  <div class="jumbotron__overlay jumbotron__overlay--bottom">
    <div class="content">
      <h2 class="jumbotron__title">Ciekawostki</h2>
      <div class="jumbotron__subtitle-spacer"></div>
      <h3 class="jumbotron__subtitle">Wyprawa w liczbach</h3>
    </div>
  </div>
  <img src="https://c2.staticflickr.com/6/5448/30535943823_fa77d57496_k.jpg"
       alt="Odbicie rowerzysty w lustrze przy drodze"
       class="jumbotron__media">
</div>

<div class="content">
  <p class="content__text">
    Na rowerze zrobiłem <strong>~2300km</strong>. 3 razy jechałem pociągiem. 5 razy płynąłem promem. 1 raz leciałem samolotem.
  </p>
  <p class="content__text">
    9 razy nocowałem w hostelach. 2 razy na kempingach. 1 raz u gospodyni. Poza tym na plażach, nad jeziorami, klifami, rzekami, w ambonie myśliwego, przy drodze i w lasach.
  </p>
  <p class="content__text">
    Największe przewyższenie jednego dnia - 2028 m. Wtedy też zdobyłem najwyższy punkt wyprawy - góra Etna - 1910 m. n.p.m.
  </p>
  <p class="content__text">
    <strong>Ani razu nie złapałem gumy.</strong> Jedyna awaria miała miejsce na końcu wyprawy, gdy zatarłem stery w kierownicy. Woda musiała dostać się do środka podczas deszczu i zmasakrowała łożyska.
  </p>
  <p class="content__text">
    Z rzeczy, które <strong>zabrałem i ani razu nie użyłem</strong>: rękawiczki rowerowe, mapnik (nawigowałem głównie telefonem lub po znakach) i przednie światło rowerowe (korzystałem z czołówki).
  </p>
  <p class="content__text">
    Podczas wyprawy <strong>zgubiłem statyw</strong>. Najprawdopodobniej zostawiłem go przy kręceniu timelapse'a z widokiem na port w Salerno. Zepsułem także czytnik kart SD na micro USB do smartfona, który był podstawowym narzędziem do zapewnienia bieżących zdjęć na blogu.
  </p>
  <p class="content__text">
    Aparat od początku nie chciał ze mną współpracować. Po odpięciu obiektywu nie widział innego. Pomagało tylko wyciągnięcie baterii na kilka godzin. Tym sposobem 80% zdjęć jest robiona szłem 20mm, 5% 45mm, a 15% telefonem.
  </p>
  <p class="content__text">
    We Włoszech w supermarketach <strong>nie ma małych porcji lodów</strong>. Pakowane są po kilka sztuk (np. rożki) lub duże pojemniki. Ponadto Włosi bardzo lubią biszkopty (najczęściej z mlekiem), w sklepach są im dedykowane całe regały.
  </p>
</div>

<div class="showcase content--wider content content-spacer">
  <a class="showcase__item showcase-overlay"
     href="https://www.flickr.com/photos/aqum/albums/72157673197696092">
    <div class="showcase-overlay__content">
      <div class="showcase-overlay__icon">
        {% include icons/camera.svg %}
      </div>
      <div class="showcase-overlay__title">
        Zdjęcia (354)
      </div>
    </div>
    <img src="https://c1.staticflickr.com/9/8029/29654497310_503068d293_z.jpg"
         class="showcase-overlay__bg"
         alt="Kościół w Arezzo we Włoszech">
  </a>
  <a class="showcase__item showcase-overlay"
     href="http://wlochyrowerem.tumblr.com/post/148875222618/lista-ekwipunku-i-waga">
    <div class="showcase-overlay__content">
      <div class="showcase-overlay__icon">
        {% include icons/bag.svg %}
      </div>
      <div class="showcase-overlay__title">
        Lista sprzętu
      </div>
    </div>
    <img src="https://c2.staticflickr.com/6/5823/29654273440_01d4b333c1_z.jpg"
         class="showcase-overlay__bg"
         alt="Nocleg na dziko nad klifem we Włoszech">
  </a>
</div>

{% include disqus.html %}
